#testimonials{
    height: 100%;
}

.testimonial {
  margin: 2rem 0 2rem 0;
}
.testimonial-section {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  padding: 2rem;
  padding-top: 4rem;
}

.testimonial-review-img {
  height: 300px;
  border-radius: 40px 0;
}

.review_box {
  border-radius: 50px;
background: #ffffff;
box-shadow:  20px 20px 60px #bebebe,
             -20px -20px 60px #ffffff;
  padding: 2rem;
  border-radius: 15px;
  width: 250px;
  transition: 0.5s ease;
}
.review_box:hover {
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px,
    rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px,
    rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}
.review_box_heading {
  font-weight: bold;
  font-size: 1.2rem;
}

.review_box_comment > span {
  font-size: 2rem;
}

.review_box_comment {
  color: gray;
}

/*=================================MEDIA QUERIES================================= */
@media screen and (max-width: 768px) {
  .review_box {
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  }
  .testimonial-head {
    padding: 0;
  }
  .testimonial-review {
    margin: 0 auto;
    margin-bottom: 2rem;
  }
  .testimonial-review-img {
    height: 250px;
  }
  .testimonial-section {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-gap: 1rem;
    padding: 1rem;
  }
}
