.about{
    padding:4rem;
}

.about-head p{
    color: #FFC059;
    font-size:1.2rem;
}

.about-section{
    /* display: grid;
    grid-template-columns: repeat(2,1fr); */

    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.about-left img{
    height: 400px;
}
.about-right{
    padding:2rem;
    max-width:50%;
    text-align: start;
}

.about-right h1{
    font-size:3rem;
    color: #FFC059;
}


.personal_img{
    border-radius:50%;
}
.about-left > img{
    border-radius:50%;
}

/*=================================MEDIA QUERIES================================= */
@media screen and (max-width:768px){
    .about{
        padding:1rem;
    }
    .about-section{
        /* display: grid;
        grid-template-columns: repeat(2,1fr); */
    
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        flex-wrap: wrap;
    }
    .about-left img{

        height: 250px;
    }
    .about-right{
        padding:1rem;
        max-width:100%;
       text-align: center;
    }
    .about-right h1{
        font-size:2rem;
        
    }
    
    
}

