@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');
:root{
  --new-blue:linear-gradient(to right, #396afc, #2948ff);
}

html,body {
  margin: 0;
  font-family: 'Poppins', sans-serif;
  padding: 0;
  box-sizing: border-box;
  overflow-x: hidden;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.text-gray{
  color:#808080;
  
}

a{
  text-decoration: none;
}
.purple{
  color: #8281f5;
}